jobs:
  changelog:
    name: changelog
    runs-on:
    - ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
        token: ${{ secrets.PAT_TOKEN }}
    - id: previoustag
      name: Get Latest Tag
      run: |
        git fetch --tags
        last_tag_wprefix=$(git tag --list  --sort=-v:refname | head -n 1)
        last_tag=$last_tag_wprefix
        echo $last_tag_wprefix
        echo $last_tag

        echo last_tag=$last_tag >> $GITHUB_ENV
    - id: changelog
      if: github.ref_name == 'main'
      name: Generate new Tag
      uses: TriPSs/conventional-changelog-action@v6
      with:
        fallback-version: ${{ env.last_tag }}
        git-path: ''
        git-url: ${{ github.server_url != 'https://github.com' && 'git.yusufali.ca' || 'github.com' }}
        github-token: ${{ secrets.PAT_TOKEN }}
        output-file: false
        skip-ci: false
        skip-commit: true
        skip-version-file: true
        tag-prefix: ''
name: CHANGELOG
'on':
  workflow_dispatch: {}
permissions:
  contents: write
run-name: CHANGELOG
